
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

$BUFF:#FFCAB1;
$MYRTLE_GREEN:#8AA06D;
$YANKEES_BLUE:#163347;
$JAPANESE_INDIGO:#274060;
$DAZZLED_BLUE:#335C81;
$ORIOLES_ORANGE:#EF4F1A;


$primary:#274060;
$warning:#F2C71D;
$info:#0E839E;
$dark:#4D545D;
$danger:#F44E3F;
$success:#01AFB2;

// // Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Bulma
@import "node_modules/bulma/bulma";
@import "utilities";
@import "fonts";
@import "intro";
@import "categories";
@import "product";
@import "shop";
@import "login";
@import "why_us";
@import "logo";
@import "partnership";
@import "tooltip";


body,html { 
    height: 100%;
    margin: 0;
    background: #F5F5F5;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),url('https://static.pexels.com/photos/213939/pexels-photo-213939.jpeg?dpr=1&auto=format&crop=middle&fit=crop&w=2000&h=700&q=80');
}

.is-blue{
	background: linear-gradient(-45deg,#00b1b3,#1d5086);
    background-image: linear-gradient(-45deg, rgb(0, 177, 179), rgb(29, 80, 134));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initi
}

$nav-color:$dark;
.newnav {
	background:$nav-color;
}
.navbar {
	background:$nav-color;
}
.navbar .navbar-menu {
	background:$nav-color;
}

.bg-hero {
	background:$nav-color;
}






// footer {
// 	margin-top:200px;
// }