
.cat_block {
    position:relative;
    line-height: 0;
    padding: 0;
    margin:0;
}

.cat_block_text {
	color: #fff;
	font-weight: 700;
    left: 0;
    position:absolute;
    text-align:center;
    top: 30%;
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
 }

 .cat_block_icon {
    left: 45%;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%;
 }

 $round_image:8px;

 .category_image{
 	width:100%;
    border-radius:$round_image;
  }

 .gradient {
    border-radius:$round_image;
 	position:absolute;
 	background: -webkit-linear-gradient(rgba(0, 0,0 ,0.15), rgba(0, 0,0, 0.35));
 	background: -o-linear-gradient(rgba(0, 0,0 ,0.15), rgba(0, 0,0, 0.35));
 	background: linear-gradient(rgba(0, 0,0 ,0.15), rgba(0, 0,0, 0.35));
 	-webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out; 
 	width:100%;
 	height:100%;
 	&:hover{
          border-radius:$round_image;
 	      background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
 	      background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
 	      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
 	}
 	         
 }