@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=Marmelad');
@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');


body {
 font-family: 'Marmelad', sans-serif;	
}
.marmelad {
	font-family: 'Marmelad', sans-serif;	
}

.intro, .instructions, .cat_block_text, .why_us {
	font-family: 'Marmelad', sans-serif;
}
