
$logo : $warning;

.nav .nav-item a.logo {
	border: 2px solid $logo;
	border-radius: 70px;
	padding: 0px 12px 3px 12px;
	font-family: 'Marmelad', sans-serif;
    text-transform: uppercase;
    color: $logo;
    // &:hover {
    // 	background:$primary;
    // 	color: rgb(131, 185, 63);
    // }
}



a.logo > span {
   color: #EF7D1A;
}

p.footer_logo > a {
	font-family: 'Baloo Bhaina', cursive;
    color: $logo !important;
}

.footer_logo > a >span {
	color: $logo;
}