
$logo : #CBB292;

.nav .nav-item a.logo {
	border: 3px solid rgb(131, 185, 63);
	border-radius: 70px;
	padding: 4px 12px 0px 12px;
	font-family: 'Baloo Bhaina', cursive;
    color: rgb(131, 185, 63);
    &:hover {
    	background:#34495E;
    	color: rgb(131, 185, 63);
    }
}



a.logo > span {
   color: $logo;
}

p.footer_logo > a {
	font-family: 'Baloo Bhaina', cursive;
    color: rgb(131, 185, 63) !important;
}

.footer_logo > a >span {
	color: $logo;
}