
$logo : $warning;

.nav .nav-item a.logo {
	border-bottom: 2px solid $logo;
	border-radius: 70px;
	padding: 0px 12px 0px 12px;
	font-family: 'Marmelad', sans-serif;
    text-transform: uppercase;
    color: $logo;
    // &:hover {
    // 	background:$primary;
    // 	color: rgb(131, 185, 63);
    // }
}

a.navbar-item > .logo {
    border-top: 1px solid $logo;
    border-bottom: 1px solid $logo;
    border-radius: 14px;
    margin-top:17px;
    padding: 6px 12px 6px 12px;
    font-family: 'Marmelad', sans-serif;
    text-transform: uppercase;
    color: $logo;
    // &:hover {
    //  background:$primary;
    //  color: rgb(131, 185, 63);
    // }
}

a.navbar-item:hover {
    background:$success;
}


a.navbar-item > .logo > span {
   color: $danger;
   font-weight:bold;
}

p.footer_logo > a {
    font-family: 'Marmelad', sans-serif;
    color: white !important;
}

.footer_logo > a >span {
	color: white;
}