ul.benefits {
	padding: 0 2rem;
}
ul.benefits > li {
	margin-bottom: 2rem;
}

.offer_images{
	display: flex;
}

.partnership_request_header, .partnership_request_footer{
	background:#fff !important;
	border-bottom: none !important;
	border-top: none !important;
}